* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.account-page {
  width: 100%;
  height: 95vh;
  margin-top: 50px;
  font-size: 1rem;
  text-align: center;
  background-image: url(./../images/db-bank-Open-Account-Image.png);
  background-position: 0 0%;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

/* .account-texts {
} */

.acc-header {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.account-page-text {
  color: rgb(255, 255, 255);
  font-family: "Comfortaa", cursive;
  width: 25%;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 250px;
  margin-left: auto;
  margin-right: 150px;
}
