* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bank-priorities {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  color: grey;
  width: 100%;
  height: 95vh;
  text-align: center;
  align-items: center;
}

.section-image1 {
  height: 95%;
}
