* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.credit-cards {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(215, 235, 211);
  color: grey;
  width: 100%;
  height: 80vh;
  text-align: center;
  align-items: center;
}
