* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.investment {
  display: flex;

  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  color: rgb(147, 187, 185);
  width: 100%;
  height: 95vh;
  text-align: center;
  align-items: center;
}
