.Landing {
  width: 95%;
  height: 320vh;
  margin: 0 auto;
  margin-top: 10rem;
  padding-top: 2rem;
  padding: 2rem;
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;

  color: rgb(0, 0, 0);
  /*  background-color: #b5e5cf; */
  background-color: rgb(236, 246, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100%;
  background-color: #ffffff;
}

.bannerImg {
  width: 90%;
  height: 30%;
  background-size: auto;
}

.banner {
  width: 90%;
  text-align: center;
  background-image: url("../../assets/images/assetmanagement1.jpeg");
  background-size: auto;
  background-position: center center;
  /* background-repeat: no-repeat; */
  height: 20%;
  margin: 0 auto;
}

.banner-2 {
  width: 90%;
  text-align: center;
  background-image: url("../../assets/images/assetmanagement1.jpeg");
  background-size: auto;
  background-position: center center;
  /* background-repeat: no-repeat; */
  height: 40%;
  margin: 0 auto;
}
