.sitemap {
  background-color: rgb(49, 65, 228);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 50vh;
  text-align: center;
}

.list-flex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 10%;
}

.link-list {
  list-style-type: none;
}

/* .link */
